<!DOCTYPE html> 
 
<html lang="en"> 
    <head> 
        <meta charset="utf-8" /> 
        <title>MediaPlayer Video</title> 
    </head> 
    <body> 
        <h1>MediaPlayer Video</h1> 
        @Video.MediaPlayer(  
            path: @"Libraries\Music\office-shedule.wmv",
            width: "640",  
            height: "480",  
            autoStart: true,  
            playCount: 1,  
            uiMode:  "full",  
            stretchToFit: false,  
            enableContextMenu: true,  
            mute: false,  
            volume: 75)  
    </body> 
</html> 